<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!--1 of 3-->
    </div>

    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 30rem;">
        <div class="card-body text-dark">
          <h4 class="card-title">Sign Up</h4>
          <p class="card-text">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

              <div class="form-group">
                <form class="form-inline">
                  <%= f.label :email %><br/>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                  </div>
                </form>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br/>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.submit "Sign up", class: 'btn btn-primary' %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </p>
      </div>
    </div>

    <div class="col">
      <!--1 of 3-->
    </div>
  </div>
</div>