<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Special code:</strong>
  <%= @schedule.special_code %>
</p>
<h4>Users in the <%= @schedule.name %></h4>
<% @schedule.assignments.each do |assignment| %>
  <p><%= assignment.user.email %><p> <break>
<% end %>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
