<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @schedule.ucode %>
</p>
<h4>Users in the <%= @schedule.name %></h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedule.assignments.each do |assignment| %>
      <tr>
        <% if !assignment.new_record? %>
          <td><%= assignment.user.first_name %> <%= assignment.user.last_name %></td>
          <td><%= assignment.user.email %><td>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Add User</h4>
<%= render 'assignments/form'%>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
