<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @schedule.ucode %>
</p>
<h4>Users in the <%= @schedule.name %></h4>
<% @schedule.assignments.each do |assignment| %>
  <% if !assignment.new_record? %>
    <p><%= assignment.user.first_name %></p>
    <p><%= assignment.user.last_name %></p>
    <p><%= assignment.user.email %><p>
  <% end%>
<% end %>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
