<p id="notice"><%= notice %></p>

<h1>Schedules Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules_users.each do |schedules_user| %>
      <tr>
        <td><%= link_to 'Show', schedules_user %></td>
        <td><%= link_to 'Edit', edit_schedules_user_path(schedules_user) %></td>
        <td><%= link_to 'Destroy', schedules_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedules User', new_schedules_user_path %>
