<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :shift_name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :shift_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :shift_end_time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :shift_duration %>
  </div>

  <div class="field">
    <%= form.label :repeat %>
    <%= form.check_box :repeat, id: :shift_repeat %>
  </div>

  <div class="field">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every, id: :shift_repeat_every %>
  </div>

  <div class="field">
    <%= form.label :repeat_every_unit %>
    <%= form.text_field :repeat_every_unit, id: :shift_repeat_every_unit %>
  </div>

  <div class="field">
    <%= form.label :repeat_end_date %>
    <%= form.datetime_select :repeat_end_date, id: :shift_repeat_end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
