<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :shift_name, class: 'form-control col-2' %>
  </div>

    <div class="form-group">
      <%= form.label :assigned_to %>
      <%= form.select :schedule_id, options_from_collection_for_select(Schedule.all, 'id', 'name'), selected: @shift.schedule_id, id: :schedule_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :assigned_to %>
      <%= form.select :user_id, options_from_collection_for_select(User.all, 'id', 'full_name', selected: @shift.user_id), id: :user_id, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :shift_start_time, class: 'form-control col-1' %>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, id: :shift_end_time, class: 'form-control col-1' %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :shift_duration, class: 'form-control col-1' %>
  </div>

  <div class="form-group">
    <%= form.check_box :repeat, id: :shift_repeat, class: 'checkbox' %>
    <%= form.label :repeat, class: 'form-check-label' %>
  </div>

  <div class="form-group">
    <%= form.label :repeat_every %>
    <%= form.number_field :repeat_every, id: :shift_repeat_every, class: 'form-control col-1' %>
  </div>

  <div class="form-group">
    <%= form.label :repeat_every_unit %>
    <%= form.text_field :repeat_every_unit, id: :shift_repeat_every_unit, class: 'form-control col-1' %>
  </div>

  <div class="form-group">
    <%= form.label :repeat_end_date %>
    <%= form.datetime_select :repeat_end_date, id: :shift_repeat_end_date, class: 'form-control' %>
  </div>

  <div class="actions pad-top-20">
    <%= form.submit class: 'btn btn-outline-primary' %>
    <%= link_to 'Back', shifts_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
