<div class="container-fluid" id="login-card">
  <div class="row">
    <div class="col">
      <!--1 of 3-->
    </div>
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 30rem;">
        <!--<div class="card-header">Log In</div>-->
        <div class="card-body text-dark">
          <h4 class="card-title">Log In</h4>
          <p class="card-text">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <% unless devise_error_messages!.blank? %>
                <div class="alert alert-warning" role="alert"><%= devise_error_messages! %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, placeholder: 'email@domain.com', autofocus: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me, class: 'checkbox' %>
                    <%= f.label :remember_me, class: 'form-check-label' %>
                  </div>
              <% end -%>

              <div class="actions pad-bottom-10">
                <%= f.submit 'Log in', class: 'btn btn-primary' %>
              </div>
            <% end %>

            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <!--3 of 3-->
    </div>
  </div>
</div>