<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Zeiter</title>

  <%= csrf_meta_tags %>

  <!-- Load Assets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color:;">
        <span id="logo" class="pad-right-20">
          Zeiter
        </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Shifts", shifts_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Pricing", '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", '#', class: 'nav-link' %>
        </li>
      </ul>

      <!-- User Search -->
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>

            <span class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</span>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to 'Profile', edit_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pad-right-20">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            </ul>

            <input class="form-control mr-sm-2" type="text" placeholder="Search User" aria-label="Search User">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        <% else %>

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
              </li>
              <li class="nav-item pad-right-20">
                <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
              </li>
            </ul>

        <% end %>
      </form>
    </div>
  </nav>

  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  </body>
</html>
